---
import BaseLayout from '../layouts/BaseLayout.astro';
import ContactForm from '../components/ContactForm.astro';
---
<BaseLayout>
  <section class="py-20 px-4 max-w-3xl mx-auto space-y-6">
    <h1 class="text-3xl font-bold text-cyan-400">Contato</h1>
    <ContactForm />
  </section>
</BaseLayout>
