---
const { title, children } = Astro.props;
---
<div class="bg-[#111827] p-6 rounded-lg shadow text-center">
  <h3 class="text-xl font-semibold mb-2 text-cyan-400">{title}</h3>
  <p class="text-sm text-gray-300">{children}</p>
</div>
